<h1 class="mb-3">Crear afiliado</h1>

<form action="/affiliates" method="POST">
  <div class="mb-3">
    <label class="form-label">Nombre:</label>
    <input class="form-control" type="text" name="firstName" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Apellido:</label>
    <input class="form-control" type="text" name="lastName" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Email:</label>
    <input class="form-control" type="email" name="email" required>
  </div>

  <div class="mb-3">
    <label class="form-label">Tipo de afiliación:</label>

    <select class="form-select" name="membershipType" required>
      <option value="silver">Silver</option>
      <option value="gold">Gold</option>
      <option value="platinum">Platinum</option>
    </select>
  </div>

  <button class="btn btn-primary" type="submit">Guardar</button>

  <a class="btn btn-secondary" href="/affiliates">
    Volver al listado
  </a>
</form>