<h1 class="mb-3">Crear cuenta</h1>

{{#if error}}
  <div class="alert alert-danger">{{error}}</div>
{{/if}}

<form action="/login/register" method="POST">
  <div class="mb-3">
    <label class="form-label">Email:</label>
    <input
      class="form-control {{#if errors.email}}is-invalid{{/if}}"
      type="text"
      name="email"
      value="{{values.email}}"
    >
    {{#if errors.email}}
      <div class="invalid-feedback">{{errors.email}}</div>
    {{/if}}
  </div>

  <div class="mb-3">
    <label class="form-label">Contraseña:</label>
    <input
      class="form-control {{#if errors.password}}is-invalid{{/if}}"
      type="password"
      name="password"
    >
    {{#if errors.password}}
      <div class="invalid-feedback">{{errors.password}}</div>
    {{/if}}
  </div>

  <button class="btn btn-primary" type="submit">Registrarme</button>

  <a class="btn btn-secondary" href="/login">
    Ya tengo cuenta
  </a>
</form>